#################################################
# terraform
#################################################

.terraform.lock**
.terraform**

#################################################
# env config
#################################################

# root .env
.env

# local/prod compose variables
docker/.env

# compose local
django/.env.webapp

# compose prod
django/.env.webapp.prod

# django media
django/media

# db backups
backups/

# media static files
 nginx/local/media
 nginx/local/static
 nginx/prod/media
 nginx/prod/static

#################################################
# generated
#################################################

# mac ds_store
**.DS_STORE**

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
