<!DOCTYPE html>
{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">

    <!-- Profile Section -->
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <img src="{% static 'images/devin.jpg' %}" alt="Profile Image" class="img-fluid" style="max-width: 100%;">
      </div>
      <div class="col-md-8">
        <h2 class="mt-4">Devin Slate</h2>
        <p class="lead">Exploring AI and engineering for the future</p>
      </div>
    </div>

    <hr class="my-4">

    <!-- About the Site Section -->
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="mt-4">Purpose:</h2>
            <p class="lead">
                This site is a platform for sharing my ongoing journey of exploring and mastering AI and engineering.
            </p>
            <p class="lead">
                The content you'll find here revolves around:
            </p>
            <ul>
                <li>Prompt Engineering: exploring the new frontier and building intuition</li>
                <li>Experimentation: Code, AI API utilization and various integrations</li>
                <li>Research: Catching up on and staying up to date with AI/LLM developments</li>
            </ul>
            <p class="lead">
                Rapid changes are occuring and its an exciting time to explore the new frontier of LLM/AI.
            </p>
        </div>
    </div>

    <hr class="my-4">
    <section>
        <h2>Artificial Intelligence:</h2>
        <p>
            This blog uses advanced AI technology powered by OpenAI's models to simulate conversation, produce images, code and more. OpenAI has made significant contributions to the field of AI, including the development of advanced language models like GPT-4. You can learn more about OpenAI <a href="https://www.openai.com/">here</a>.
        </p>
    </section>

    <hr class="my-4">

    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="mt-4">Contact:</h2>
            <p>
            If you have questions, disagreements, or collaboration interests reach out!
                <ul>
                    <li>email: slate.devin@gmail.com</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}

