<!DOCTYPE html>
{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5">

    <!-- Profile Section -->
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        <img src="{% static 'images/devin.jpg' %}" alt="Profile Image" class="img-fluid" style="max-width: 100%;">
      </div>
      <div class="col-md-8">
        <h2 class="mt-4">Devin Slate</h2>
        <p class="lead">Engineering for the future</p>
      </div>
    </div>

    <hr class="my-4">

    <!-- About the Site Section -->
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="mt-4">Purpose:</h2>
            <p class="lead">
                With the rapidly changing landscape of AI, it's important to stay up-to-date with the latest developments. This blog aims to provide a platform for exploring the latest AI developments, and to share insights and ideas with the community.
            </p>
            <p class="lead">
                Here, you'll find content focusing on:
            </p>
            <ul>
                <li>Prompt Engineering: building intuition and exploring the new frontier.</li>
                <li>Experimentation: Code snippets, AI API usage, and integrations.</li>
                <li>Research: Keeping up-to-date with the latest developments in AI/Large Language Models.</li>
            </ul>
        </div>
    </div>

    <hr class="my-4">
    <section>
        <h2>Artificial Intelligence:</h2>
        <ul>
            <li> This blog leverages OpenAI's advanced AI technology to simulate conversations, generate images, code, and more. OpenAI's contributions, like the advanced language model GPT-4, have significantly influenced the AI field. Learn more about OpenAI <a href="https://www.openai.com/">here</a>.</li>
            <li> Although the current focus is OpenAI, additional AI models may feature in the future.</li>
        </ul>
    </section>

    <hr class="my-4">

    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2 class="mt-4">Contact:</h2>
            <p>
            If you have questions, differing viewpoints, or collaboration interests, feel free to reach out!
                <ul>
                    <li>Email: slate.devin@gmail.com</li>
                </ul>
            </p>
        </div>
    </div>
</div>
{% endblock %}

