<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

    {% for post in post_list %}
    <div class="col d-flex justify-content-center mb-5">
        <img class="rounded-square" src="{{ post.author.profile.image.url }}">
            <div class="card" style="width: 45rem;">
                <div class="card-header">{{ post.title }}</div>
              <div class="card-body">
                <p class="card-text">{{ post.body }}</p>
                <a href="{% url "post-detail" post.pk %}">Read More</a>
              </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}
