<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

    {% for post in post_list %}
        <div class="card mb-4" style="margin-left: auto; margin-right: auto; width: 70%;">
            <img class="rounded-square" src="{{ post.image.url }}" >
          <div class="card-body">
              <h5 class="card-title">{{post.title}}</h5>
              <p class="card-text">{{post.summary}}</p>
                    <a href="{% url "post-detail" post.pk %}" class="btn btn-secondary" >Read Post</a>
          </div>
        </div>
    {% endfor %}

{% endblock content %}
