{% extends "base.html" %}

{% block title %}
  {{ post.title }} | devinslate.com
{% endblock %}

{% load static %}

{% block content %}
   <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="d-flex align-items-center">
                    <h1 class="mt-4 flex-grow-1">{{ post.title }}</h1>
                </div>

                <p class="lead">
                    By: {{ post.author }} - {{ post.date_posted }}
                </p>

                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-secondary mr-3">
                        <a href="{% url 'blog-home' %}" class="text-decoration-none text-dark">Back to Posts</a>
                    </button>
                </div>

                {% if post.conversation_file %}
                <div class="d-inline-block">
                    <button type="button" class="btn btn-outline-secondary">
                        <a href="{% url 'post-conversation' post.pk %}" class="text-decoration-none text-dark">Read Full Conversation</a>
                    </button>
                </div>
                {% endif %}

                <hr>

                <div class="text-center">
                    <img class="rounded-square img-fluid" src="{{ post.image.url }}" alt="Post image">
                </div>

                <hr>

                <p class="lead">{{ post.formatted_markdown|safe }}</p>

                {% for entry in blocks %}
                    <!-- illustrate code/conversation -->
                    {% if entry.type == "text" %}
                        <p class="lead">{{ entry.content|linebreaks }}</p>
                    <!-- provide code snippet, formatted -->
                    {% elif entry.type == "code" %}
                        {% autoescape off %}
                            <pre><code class="language-python">{{ entry.content }}</code></pre>
                        {% endautoescape %}
                    <!-- template conversation, readability -->
                    {% else %}
                        {% include 'blog/conversation_block.html' with conversation_slice=entry.content %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


