{% extends "base.html" %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="d-flex align-items-center">
                    <h1 class="mt-4 flex-grow-1">{{ post.title }}</h1>
                    <button type="button" class="btn btn-outline-secondary mr-3">
                        <a href="{% url 'blog-home' %}" class="text-decoration-none text-dark">Back to Blog</a>
                    </button>

                </div>

                <p class="lead">
                    By: {{ post.author }} - {{ post.date_posted }}
                </p>

                <hr>
                    {% if post.conversation_file %}
                    <div class="mt-4">
                        <button type="button" class="btn btn-outline-secondary mr-3">
                            <a href="{% url 'post-conversation' post.pk %}" class="text-decoration-none text-dark">View Full Conversation</a>
                        </button>
                    </div>
                    {% endif %}
                <hr>

                <div class="text-center">
                    <img class="rounded-square img-fluid" src="{{ post.image.url }}" alt="Post image">
                </div>

                <hr>

                <p class="lead">{{ post.formatted_markdown|safe }}</p>

            </div>
        </div>
    </div>

{% endblock %}
