{% extends "base.html" %}
{% load static %}

{% block content %}

    <h1> {{ post.title }}</h1>

    <small>
        By: {{post.author }} - {{post.date_posted}}
    </small>

    <hr><br/>

    <img class="rounded-square" src="{{ post.image.url }}" style="display: block; margin-left: auto; margin-right: auto; width: 50%;">

    {{ post.formatted_markdown|safe }}

    <br/><br/>

    <button type="button" class="btn btn-outline-secondary">
        <a href="{% url "blog-home" %}">Back</a>
    </button>

    {% if post.conversation_file %}
        <h2>Conversation</h2>
        {% include "blog/conversation.html" with conversation=conversation %}

    {% endif %}


{% endblock %}

